*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    text-align: center;
    padding: 20px;
    
}

h1{
    margin-bottom: 10px;
}

p{
    margin-bottom: 30px;
    color: gray;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

/* CardStyle*/

.card{
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h4{
    margin-bottom: 20px;
}

/* Grid Layout*/

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
}

/* INPUTS */

input,select{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/* BUTTON */
.btn{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{
    background: #45a049;
}