*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    text-align: center;
    padding: 20px;
    background-color: linear-gradient(to right, #e3f2fd, #fce4ec);
    
}

h1{
    margin-bottom: 20px;
    font-size: 32px;
    color: #2c3e50;
}

h4{
    margin-bottom: 20px;
    color: #34495e;
}

p{
    margin-bottom: 30px;
    color: gray;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

/* CardStyle*/

.card{
    background: white;
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h4{
    margin-bottom: 20px;
}

/* Grid Layout*/

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
}

/* INPUTS */

input,select{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 100%;
    transition: 0.3s;
}

input:focus, select:focus{
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
    outline: none;
}

/* BUTTON */
.btn{
    margin-top: 20px;
    padding: 14px 30px;
    border: none;
    background: #4CAF50;
    background: linear-gradient(to right, #4caf50, #2ecc71);
    color: white;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
    background: #45a049;
    background: linear-gradient(to right, #43a047, #27ae60);
}