*{
    margin: 0%;
    padding: 0%;
}

html, body{
    width: 100%;
    height: 100%;
    text-align: center;
}

body{
    background-color: antiquewhite;
    text-align: center;
    
}
#vehicle_information {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between inputs */
    margin-top: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}
